<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Symptoms</title>
    <link rel="stylesheet" href="../static/css/input.css">
</head>

<body>
    <div class="container">
        <h1>Input Symptoms</h1>
        <form class="input-form" action="/output" method="POST">
            <label for="symptoms"> Symptoms: </label>
            <input type="text" id="symptoms" name="symptoms">
            <button type="button" id="submit-button"> Submit </button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('submit-button').addEventListener('click', function () {
                var symptoms = document.getElementById('symptoms').value;
                window.location.href = '/output' + encodeURIComponent(symptoms);
            });
        });
    </script>
</body>

</html>